<div>
  <div>Id: <%=ticket.external_id %></div>
  <div>Url: <%=ticket.url %></div>
  <div>Type: <%=ticket.type %></div>
  <div>Subject: <%=ticket.subject %></div>
  <div>Description: <%=ticket.description %></div> 
  <div>Status: <%=ticket.status %></div>
  <div>Priority: <%=ticket.priority %></div>
  <div>Has Incidents: <%=ticket.has_incidents %></div>
  <div>Submitted By: <%=ticket.submitter.name if ticket.submitter.present? %></div> 
  <div>Assigned To: <%=ticket.assignee.name if ticket.assignee.present? %></div>
  <div>Organization: <%=ticket.organization.name if ticket.organization.present? %></div>
  <div>Due At: <%=ticket.due_at %></div>
  <div>Created: <%=ticket.created_at %></div>
  <div>Via: <%=ticket.via%></div>
  <div>Tags: <%=ticket.tags %></div>
</div>
</br>
