<div>
  <div>Id: <%=user.external_id %></div>
  <div>Url: <%=user.url %></div>
  <div>Name: <%=user.name %></div>
  <div>Alias: <%=user.alias %></div> 
  <div>Email: <%=user.email %></div>
  <div>Phone: <%=user.phone %></div>
  <div>Organization: <%=user.organization.name %></div>
  <div>Role: <%=user.role %></div>
  <div>Active: <%=user.active %></div>
  <div>Verified: <%=user.verified %></div>
  <div>Suspended: <%=user.suspended %></div>
  <div>Shared: <%=user.shared %></div>
  <div>Locale: <%=user.locale %></div>
  <div>Timezone: <%=user.timezone %></div>
  <div>Last Login: <%=user.last_login_at %></div>
  <div>Created: <%=user.created_at %></div>
  <div>Signature: <%=user.signature %></div>
  <div>Tags: <%=user.tags %></div>
</div>
